<h1>Street Address: <%= @house.street_address %></h1>
<h1>City: <%= @house.city %></h1>
<h1>State: <%= @house.state %></h1>
<h1>Zip Code: <%= @house.zip_code %></h1>
<h1>Country: <%= @house.country %></h1>
